<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">

</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div>
            <p class="cart">Cart ({{ cart.length }})</p>

        </div>
        <product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeItem"></product>
        <product-review></product-review>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>

</html>